body {
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  background-color: whitesmoke;
}
h1 {
  text-align: center;
}

h3 {
  border-bottom: 5px solid #424243;
}

header {
  background-color: #2e354f;
  padding: 45px 0;
  color: white;
}

main {
  width: 90%;
  padding: 0 40px;
  margin: 0 auto;
  text-align: center;
}

a {
  color: white;
}

a:hover,
a:focus {
  background-color: #d4b4cd;
}

.inline-link {
  color: black;
  font-weight: bold;
}

.inline-link:visited {
  color: purple;
}

.title {
  background-color: #34495e;
  color: white;
  padding: 5px 0;
  text-align: center;
}

.horse {
  margin: 0 auto;
  background-color: #d4e6f1;
  padding: 5px 15px 15px;
  width: 400px;
  height: 200px;
}

.btn {
  margin: 10px;
  padding: 10px 25px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
}

.netlify-btn {
  background-color: #138d75;
}

.git-btn {
  background-color: black;
}

.about {
  color: whitesmoke;
  margin-bottom: 10px;
  background-color: #884ea0;
}

/* carousel excercise */

.carousel {
  position: relative;
  max-width: 600px;
  margin: 10px auto;
}

.carousel .carousel-item {
  max-width: 100%;
  display: none;
}

.carousel .carousel-item-visible {
  display: block;
  animation-name: fadeVisibility;
  animation-duration: 0.5s;
}

.carousel .carousel-item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.carousel .carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 10%;
  transform: translateY(-10%);
}

button {
  border-radius: 50px;
  border: 0;
  padding: 10px;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: tomato;
}

#carousel-btn-prev {
  margin-left: 20px;
}

#carousel-btn-next {
  margin-right: 20px;
}

.carousel-item-hidden {
  display: none;
}

.carousel .carousel-actions button#carousel-button-next {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
