html,
body {
  font-family: "Source Code Pro", monospace;
  padding: 10px;
  background-color: rgb(209, 207, 207);
  text-align: center;
  font-size: 16;
}

.grid {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: #94e638;
  display: flex;
  flex-wrap: wrap;
}

button {
  font-size: large;
}

h3 {
  text-align: left;
}

.square {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: #121212;
  border-radius: 5px;
}

.apple {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #121212;
}

.high-scores {
  text-align: left;
}
